<div class="row">
    <div class="col-xs-6 col-md-4">
        <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, class: "thumbnail" , style: "width: 50%;") %>
        <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
        <% end %>
    </div>
    <div class="col-xs-6 col-md-8">
        <h2> <%= @product.title %> </h2>
        <div>描述: <%= @product.description %></div>
        <div>數量: <%= @product.quantity %> </div>
        <div class="product-price">價格: <%= @product.price %> </div>
        <div class="pull-right">
            <% if @product.quantity > 0 %>
            <%= link_to("加入購物車", add_to_cart_product_path(@product), method: :post,
                            class: "btn btn-lg btn-danger") %>
            <% else %>
            已銷售一空
            <% end %>
        </div>
    </div>
</div>